body {
    background-color: #f5f5f5; /* Light grey background for minimalistic look */
    color: #333; /* Dark grey text for better readability */
}

h1, h2, h4 {
    color: #222; /* Slightly darker color for headings */
    margin-bottom: 0.5em;
}

div {
    margin-top: 2em;
    padding: 1em;
    background-color: white; /* White background for content blocks */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners for a softer look */
}

.center {
    flex-direction: column; /* Stack items vertically in center aligned elements */
}

a {
    color: #0066cc; /* A different color for links for a pop of color */
}

a:hover {
    color: #004499; /* Darker shade on hover for interactive feedback */
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 0 5px;
    }

    #maincontent, #top-nav-bar, form {
        width: 100%;
    }
}
