/* Your other CSS rules can go here */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

/* More of your CSS rules can follow */

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
    font-family: 'Geist', sans-serif;
}

#maincontent {
    max-width: 42em;
    margin: 15px auto;
}

h2 {
    font-size: 24px;
    /* You can adjust the size as needed */
}

ul {
    list-style-type: disc;
    /* Change the bullet style as needed */
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
    /* Add space between paragraphs */
}

.ai-message {
    background-color: white;
    color: white;
    /* Add additional styles for this element as needed */
}

a {
    text-decoration: none;
    /* Remove default underline if necessary */
    border-bottom: 1px dotted black;
    /* Set the color and style of the underline */
    color: black;
    /* Set the link text color to black */
}

a:hover {
    border-bottom: 1.5px solid black;
}

#top-nav-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* Apply styling to the form */

form {
    display: flex;
    justify-content: space-between;
    width: 300px;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the form horizontally */
}

.center {
    text-align: center;
    /* Center text horizontally */
    display: flex;
    justify-content: center;
    /* Center text vertically */
    align-items: center;
}

#a-single-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
    /* Add borders to each post */
}

#title {
    margin-top: 15vh;
}

#post-title {
    font-weight: bold;
    font-size: larger;
}

#post-date {
    font-weight: normal;
    /* Make date less bold than title */
    font-weight: lighter;
}

#post-peek {
    margin: 10px 0;
}

.centered-text {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 200px;
    /* Set the height of the container */
    text-align: center;
    /* Center text when it wraps */
}